* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #005f73;
    color: white;
    padding: 1rem;
    position: relative;
}

header h1 {
    font-size: 1.5rem;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
}

.navigation.open {
    display: flex;
}

.navigation a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

.navigation a:hover {
    background-color: #94d2bd;
    color: #003845;
}

.navigation .active {
    background-color: #003845;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

main h2 {
    text-align: center;
    margin: 1rem 0;
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    padding: 0.5rem;
}

footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

footer p {
    margin: 0.5rem;
}